body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5rem;
  color: #8a8484;
  overflow-x: hidden;
}

/* ------------------------------------------
start general css
-------------------------------------------------- */

a {
  text-decoration: none;
  font-weight: 700;
}



h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  /* color: #07132B; */
  margin-bottom: 0;
  line-height: 1;
}

h1,
h2,
h3 {
  color: #000;
}

h2 {
  font-size: 2.078125rem;
  margin-bottom: 0.625rem;
}

h3 {
  font-size: 1.5rem;
}

span {
  font-size: 0.938rem;
  letter-spacing: 0.125rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 0;
}

.pt-80 {
  padding-top: 5rem;
}

.pt-90 {
  padding-top: 6.25rem !important;
}

.mt-90 {
  margin-top: 6.25rem;
}

.about_wrapper .read-more:hover,
.now-order-btn a:hover,
.elementor-icon,
.footer_wrapper .btn_subscribe,
.contact_form_wrapper .contact-card .send-message,
.about_wrapper .read-more,
.now-order-btn a,
.banner_wrapper .get-started,
.navbar_wrapper .navbar-nav .nav-item .nav-link::before,
.top_services_wrapper .client-card .client-img .its-pos-img,
.top_services_wrapper .hexagon,
.chhose-btn,
.video-icon,
.btn-vision,
.slider_wrapper .slick-dots li.slick-active button,
.tab-content h2::after,
.hows-text h2::after,
.pricing .nexora-price-card:hover,
.pricing .box-div,
.thanks_wrapper .lawyer-home-btn a,
.thanks_wrapper .card-outer-area {
  background: rgb(0, 102, 204);
}

span,
.about_wrapper .about-card i,
.experience_wrapper i,
.footer_wrapper a:hover,
.footer_wrapper .footer-links li a:hover,
.footer_wrapper input,
.contact_form_wrapper .contact-card input,
.contact_form_wrapper .contact-card textarea,
.redlight-pricing-card:hover .plan-per-text h2,
.footer_wrapper .bottom-footer p span,
.navbar_wrapper .navbar-nav .nav-item .nav-link:hover,
.navbar_wrapper .navbar-nav .nav-item .nav-link.active,
.navbar_wrapper i,
.slider_wrapper .client-slider-card i,
.slider_wrapper .done-heading h1,
.pricing .fa-check,
.slider_wrapper .star-rating i,
.thanks_wrapper .lawyer-socials a:hover {
  color: rgb(0, 102, 204)
}

.banner_wrapper .get-started:hover,
.about_wrapper .read-more:hover,
.now-order-btn a:hover,
.footer_wrapper .btn_subscribe:hover,
.contact_form_wrapper .contact-card .send-message:hover,
.banner_wrapper .get-started:hover,
.choose-card:hover .elementor-icon,
.top_services_wrapper .elementor-icon:hover .elementor-icon .now-order-btn a,
.chhose-btn:hover,
.btn-vision:hover,
.thanks_wrapper .lawyer-home-btn a:hover {
  background-color: rgb(25, 139, 168);
}

.features-wrapper .nav-pills .nav-link:hover,
.features-wrapper .nav-pills .show>.nav-link:hover,
.navbar_wrapper span:hover,
.white-btn-with-arrow {
  color: rgb(25, 139, 168);
}

.navbar_wrapper span,
.thanks_wrapper .lawyer-socials a {
  color: #677289;
}

.explore-wrapper span,
.choose-us span {
  font-weight: 600;
  font-size: 0.938rem;
  letter-spacing: 0.125rem;
}

.choose-us h2,
.services_wrapper h2 {
  margin-top: 1rem;
}

a,
a:hover,
.choose-us .choose-card h3,
.choose-us h2,
.chhose-btn .read-btn,
.navbar_wrapper .get-quote-btn i,
.choose-us span,
.btn-vision,
.btn-vision i,
.top_services_wrapper h2,
.top_services_wrapper .tech-main h3,
.navbar_wrapper .get-quote-btn,
.footer_wrapper h3,
.footer_wrapper .btn_subscribe,
.contact_form_wrapper .contact-card .send-message,
.services_wrapper .pos-content h3,
.pricing .nexora-price-card:hover h2,
.pricing .nexora-price-card:hover,
.pricing .nexora-price-card:hover h3,
.pricing .box-div,
.pricing .nexora-price-card:hover span,
.pricing .nexora-price-card:hover .fa-check,
.thanks_wrapper .lawyer-home-btn a,
.thanks_wrapper .lawyer-home-btn a:hover {
  color: #fff;
}

header,
.services_wrapper,
.about_wrapper,
.choose-us .choose-card:hover,
.navbar_wrapper input[type=search],
.contact_form_wrapper .contact-card,
.img-div:hover .overlay {
  background: #fff;
}


/* ------------------------------------------
end general css 
--------------------------------------------------------*/
/* top_navbar_starts */


.top_navbar {
  padding: 0.5rem 1rem;
  background: #1f243d;
}

.top_navbar a,
.top_navbar {
  color: #CBD0E3;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 400;
}

.top_navbar .border-line {
  border-right: 0.063rem solid #575B6E;
}

@media (max-width: 62rem) {
  .top_navbar .border-line {
    border: none;
  }
}

/* top_navbar_ends */
/* Navbar_Starts */
.navbar_wrapper {
  border-bottom: 0.063rem solid #e5e5e5;
}

.navbar_wrapper .navbar {
  padding: 0;
}



.navbar_wrapper .navbar-nav .nav-item .nav-link::before {
  height: 0.25rem;
  content: "";
  position: absolute;
  width: 0%;
  bottom: 0;
}

.navbar_wrapper .navbar-nav .nav-item .nav-link:hover::before,
.navbar_wrapper .navbar-nav .nav-item .nav-link.active::before {
  width: 100%;
}

.navbar_wrapper .navbar-nav .nav-item .nav-link {
  color: #000;
  display: inline-block;
  font-weight: 500;
  font-size: 0.9rem;
  position: relative;
  padding: 1.875rem 0;
  margin: 0 1.5rem 0 0;

}

.navbar_wrapper .navbar-nav .nav-item:last-of-type .nav-link {
  margin: 0;
}

.navbar_wrapper .navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar_wrapper .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar_wrapper .contact-info span {
  display: block;
  font-size: 0.8rem;
}

.navbar_wrapper .contact i {
  font-size: 2.3rem;
  margin-right: 0.75rem;
}

.navbar_wrapper i,
.navbar_wrapper span {
  font-weight: 600;
}

.navbar_wrapper .contact-info a {
  font-weight: 700;
  font-size: 0.8rem;
  color: red;
}

.navbar_wrapper .border-line {
  border: 0.063rem solid #E5E5E5;
  height: 3rem;
  margin-left: 2rem;
}

.navbar_wrapper .get-quote-btn {
  background: #0066cc;
  display: inline-block;
  border-radius: 0.75rem;
  padding: 1.125rem 2.25rem;
  font-weight: 700;
  font-size: 0.875rem;
}

.navbar_wrapper .get-quote-btn:hover {
  background: #47579A;
}



.navbar_wrapper .modal-body input:focus {
  box-shadow: none;
  outline: 0;
}

.navbar_wrapper .modal-header {
  border: none
}

.navbar_wrapper .modal-content {
  width: 100%;
  height: 100vh;
  padding: 0 12%;
  background-color: rgba(0, 0, 0, .8);
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.navbar_wrapper input[type=search] {
  margin: 0;
  border: 0;
  padding: 0.75rem;
  display: inline-block;
  font-size: 3.125rem;
  text-align: center;
  border-style: solid;
  border-width: 0 0 0.063rem;
  border-color: #fff;
  line-height: 1.5;
  color: #677289;
  width: 100%;
  border-radius: 0.625rem;
}

.btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  position: absolute;
  /* top: 1rem;
  right: 2rem; */
}

@media (max-width:62rem) {
  .navbar_wrapper .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 0;

  }

}

@media (max-width:75rem) {
  .navbar_wrapper .border-line {
    display: none;
  }
}



/* Navbar_Ends */


/* Banner_start */
/* .banner_wrapper {
  background-size: cover!important;
  background-position: center;
  position: relative;
}

.banner_wrapper .banner-content{
  padding-top: 7rem;
}
.banner_wrapper .banner-content h1 {
  margin-top: 1.125rem;
}

.banner_wrapper .banner-content p {
  margin-top: 2rem;
}
.banner_wrapper img{
  position: absolute;
  top: 0;
  right: 0;
  width: 63%;
  height: 100%;
}
.banner_wrapper .get-started {
  padding: 1.125rem 1.5rem;
  margin-top: 3.5rem;
  display: inline-block;
  border-radius: 0.75rem;
  font-size: 0.9rem;
}
.banner_wrapper span{
  font-weight: 300;
}

.banner_wrapper .pos-shape {
  position: absolute;
  display: block;
  left: -13.2rem;
  bottom: -3rem;
  z-index: 11;
}

@media (max-width:70rem) {
  .banner_wrapper .pos-shape {
    display: none;
  }
}
@media(max-width:61.94rem){
  .banner_wrapper img{
    position: inherit;
    width: 100%;
   
  }
  .banner_wrapper .banner-content{
    padding-top: 3rem;
  }
} */
.banner {
  /* background: url(../public/assets/home-page/banner-back.jpg);
  background-position: top right;
  background-repeat: no-repeat; */
  padding-top: 3.125rem;
}

.banner h1 {
  margin-top: 0.625rem;
  margin-bottom: 1.5625rem;
}

.banner p {
  font-size: 1.125rem;
  line-height: 1.875rem;

}

.btn-vision {
  display: inline-block;
  border: 0.0625rem solid #0066cc;
  box-shadow: 0.0625rem 0.0625rem 0.5rem 0.125rem rgba(0 0 0/ 0.2);
  border-radius: 0.3125rem;
  padding: 0.875rem 2.5rem;
  margin-top: 3.125rem;
  font-weight: 500;
  font-size: 0.9375rem;

}

/* Banner_end */
/* --------------------------------
features
----------------------------------------------- */
.features-wrapper .gallery-item:hover {
  transform: scale(1.1);
}

.features-wrapper img,
.about_wrapper img,
.experience_wrapper img {
  transition: .3s;
}

.features-wrapper img:hover,
.about_wrapper img:hover,
.experience_wrapper img:hover {
  transform: scale(1.1);
}

.features-wrapper .nav-pills {
  border-bottom: 0.0625rem solid #dee2e6;
}

.features-wrapper .nav-pills .nav-link {
  position: relative;
}

.features-wrapper .nav-pills .nav-link,
.features-wrapper .nav-pills .show>.nav-link {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 2.1875rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1.25rem;
  background: transparent;
  color: #000;
}




.features-wrapper .nav-pills .nav-link:after {
  display: block;
  content: '';
  border-bottom: solid 0.3rem #0066cc !important;
  border-radius: 0.25rem;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 250ms ease-in-out;
}

.features-wrapper .nav-pills .nav-link:hover:after,
.features-wrapper .nav-pills .nav-link.active:after {
  transform: scaleX(1);
}

.tab-content h2,
.hows-text h2 {
  position: relative;
  margin-bottom: 2.5rem;
}

.tab-content h2::after,
.hows-text h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 6.25rem;
  height: 0.3125rem;
  border-radius: 0.4375rem;
  position: static;
  margin-top: 1.875rem;
}

.features-wrapper h3,
.hows-text h3 {
  font-size: 0.975rem;
  padding: 1.8rem 0rem 1rem 0rem;
}

.features-wrapper ul li,
.hows-text ul li {
  line-height: 2;
  font-weight: 400;
  font-size: .938rem;
  background: url(../public/assets/home-page/tick.png) no-repeat left -0.125rem;
  background-size: 1.0625rem;
  background-position: 0;
  padding-left: 1.875rem;
  float: left;
  width: 50%;
}

.white-btn-with-arrow {
  box-shadow: 0 0.3125rem 0.9375rem rgba(16, 30, 54, .15);
  border-radius: 0.25rem;
  text-transform: capitalize;
  border-bottom: 0;
  font-weight: 700;
  padding: 1.25rem 1.875rem;
  transition: .2s;
  font-size: .9375rem;
  display: inline-block;
  margin-top: 3rem;
}

@media(max-width: 61.875rem) {

  .features-wrapper .nav-pills .nav-link,
  .features-wrapper .nav-pills .show>.nav-link {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

/* -----------------------------------------
  start hows work
---------------------------------------------------- */
.position-img {
  position: absolute;
  bottom: -7.875rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -999;
}

.position-img-2 {
  position: absolute;
  bottom: -7.875rem;
  right: 50%;
  transform: translateX(50%);
  z-index: -999;
}

.last-child:last-child .position-img-2 {
  display: none;
}

@media(max-width:61.9375rem) {

  .position-img,
  .position-img-2 {
    display: none;
  }

  .pt-90 {
    padding-top: 3rem !important;
  }
}

@media(max-width: 33.125rem) {

  .hows-text ul li {
    width: 100%;

  }
}

/* -------------------------------------------------
services
----------------------------------------------------------- */

.service-card {
  padding: 1.5625rem 0.9375rem;
  background-color: #f5f7fb;
  transition: all .3s linear;
  border-radius: 0.625rem;
  border: 0rem;
  height: 100%;
  border: 0.125rem solid transparent;
}

.service-card h3 {
  margin-top: 0.9375rem;
  font-size: 1rem;
}

.service-card:hover {
  border-color: #0066cc;
  transform: scale(1.05);
}

.services img {
  height: 3.75rem;
}

/* 
--------------------------------
testimonial
--------------------------------------------------------- */
.slider_wrapper {
  padding: 0rem 0 7rem;
}

.slider_wrapper .done-heading h1 {
  font-size: 2rem;
  font-weight: 600;
}

.slider_wrapper .client-slider-card {
  background: #f3f3f3;
  border-radius: 1.5rem;
  padding: 2rem;
  position: relative;
  height: 100%;
  clip-path: polygon(93.784% 1.793%, 8.113% 1.793%, 8.113% 1.793%, 7.104% 1.905%, 6.147% 2.229%, 5.255% 2.747%, 4.441% 3.443%, 3.716% 4.298%, 3.095% 5.294%, 2.59% 6.415%, 2.213% 7.642%, 1.978% 8.959%, 1.896% 10.347%, 1.896% 91.447%, 1.896% 91.447%, 1.978% 92.835%, 2.213% 94.151%, 2.59% 95.378%, 3.095% 96.499%, 3.716% 97.496%, 4.441% 98.35%, 5.255% 99.046%, 6.147% 99.564%, 7.104% 99.888%, 8.113% 100%, 49.555% 100%, 49.555% 100%, 50.564% 99.888%, 51.521% 99.564%, 52.413% 99.046%, 53.227% 98.35%, 53.952% 97.496%, 54.573% 96.499%, 55.078% 95.378%, 55.455% 94.151%, 55.69% 92.835%, 55.772% 91.447%, 55.772% 91.447%, 55.853% 90.058%, 56.088% 88.742%, 56.465% 87.514%, 56.97% 86.394%, 57.592% 85.397%, 58.316% 84.543%, 59.13% 83.847%, 60.022% 83.329%, 60.979% 83.005%, 61.988% 82.893%, 93.784% 82.893%, 93.784% 82.893%, 94.793% 82.781%, 95.749% 82.457%, 96.641% 81.939%, 97.456% 81.243%, 98.18% 80.389%, 98.801% 79.392%, 99.307% 78.271%, 99.683% 77.044%, 99.919% 75.728%, 100% 74.34%, 100% 10.347%, 100% 10.347%, 99.919% 8.959%, 99.683% 7.642%, 99.307% 6.415%, 98.801% 5.294%, 98.18% 4.298%, 97.456% 3.443%, 96.641% 2.747%, 95.749% 2.229%, 94.793% 1.905%, 93.784% 1.793%);
}

.slider_wrapper .slide {
  filter: drop-shadow(0 0.217rem 0.25rem rgba(0, 0, 0, 0.20));
}

.slider_wrapper .icon-pos,
.slider_wrapper .info-position {
  position: absolute;
}

.slider_wrapper .icon-pos {
  right: 0;
  bottom: -2.5rem;
}

.slider_wrapper .info-position {

  bottom: 1rem;
}

.slider_wrapper .clients-naame h3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0;
}

.slider_wrapper .clients-naame {
  padding-left: 1rem;
}

.slider_wrapper .para-content p {
  font-size: 0.788rem;
  line-height: 1.6;
}

.slider_wrapper .client-slider-card i {
  font-size: 2rem;
}

.slider_wrapper .star-rating i {
  font-size: 0.625rem;
}


.slider_wrapper .slick-initialized .slick-slide,
.slider_wrapper .slick-slider,
.slider_wrapper .slick-track {
  display: flex !important;
}

.slider_wrapper .slick-initialized .slick-slide {
  height: auto !important;
}

.slider_wrapper .para-content {
  margin-bottom: 5rem;
}

.slider_wrapper .slick-active {
  padding: 2rem 0.25rem;
}



.slider_wrapper .slick-dots li button:before,
.slick-next,
.slick-prev {
  display: none !important;
}

.slider_wrapper .slick-dots li.slick-active,
.slider_wrapper .slick-dots li.slick-active button {
  width: 5.5rem;
}

.slider_wrapper .slick-dots li.slick-active {

  margin: 0 0.188rem 0;
}

.slider_wrapper .slick-dots li button {
  background: #DDDCFF;
  width: 1.5rem;
  height: 0.1rem;
  border-radius: 3.125rem;
}



.slider_wrapper .slick-dots {
  bottom: -5rem;
}

/* -----------------------------------
End testimonial
---------------------------------------------------------- */
/* -------------------
faq
--------------------------------------- */
/*===== FAQ_Starts=====*/


.faq_23 .it-head {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0;
}

.faq_23 .accordion-flush .accordion-item {
  border-bottom: 0.0625rem solid #dee2e6;
  padding: 2.1875rem 0.625rem;
  position: relative;

}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  padding: 0rem 1.25rem;
}

.faq_23 .accordion-flush .accordion-item .accordion-button:not(.collapsed) {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #000;
}

.faq_23 .accordion-flush .accordion-item .accordion-button:hover {
  color: #000;
}

.faq_23 .accordion-flush .accordion-item:hover {
  box-shadow: 0rem 1.25rem 1.25rem rgba(3, 4, 28, 0.08);
  border-radius: 0 0 1.25rem 1.25rem;
  border-radius: 0.5rem;
}


.faq_23 .accordion-body {
  padding: 1.25rem 0 1.25rem 1.25rem;
}

.faq_23 .accordion-body p {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.faq_23 .accordion-item {
  border: none;
  background: transparent;
}

.faq_23 .it-faq-style .faq-icon-show,
.faq_23 .it-faq-style a.collapsed .faq-icon-close {
  display: none;
}

.faq_23 .it-faq-style a.collapsed .faq-icon-show {
  display: inline-block;
  top: 1.25rem;
}

.faq_23 .it-faq-style img {
  position: absolute;
  right: 1.5rem;
  top: 50% !important;
  transform: translate(0, -50%);
  font-size: 1.25rem;
}

.faq_23 .accordion-button::after,
.faq_23 .accordion-button:not(.collapsed)::after {
  background-image: none;
}

.faq_23 .position-btn {
  position: relative;
}

.faq_23 .position-btn img {
  position: absolute;
  top: 1.1875rem;
  left: 10.625rem;
}

@media(max-width: 61.9375rem) {
  .faq_23 .position-btn img {
    right: 0;
  }
}

@media(max-width: 47.9375rem) {
  .faq_23 .position-btn img {
    position: static;
  }
}

/*===== FAQ_Ends=====*/
/* About_start */
.about_wrapper,
.explore-wrapper {
  padding-top: 5rem;
}

/* .about_wrapper{
  padding-bottom: 6rem;
} */
.about_wrapper p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.about_wrapper .about-card {
  border: 0.063rem solid #ddd;
  border-radius: 0.75rem;
  padding: 1rem;
}

.about_wrapper .about-content p {
  margin: 0;
  font-size: 0.875rem;
}

.about_wrapper .about-card i {
  font-size: 3rem;
  margin-right: 1rem;
}

.about_wrapper .read-more,
.now-order-btn a {
  display: inline-block;
  border-radius: 0.75rem;
  padding: 1rem 1.625rem;
  font-size: 0.9rem;
}

/* About_end */

/* Experience_starts */

/* .experience_wrapper {
  background: #F2F5F6;
  padding: 2rem 0 10rem;
} */


.experience_wrapper {
  padding-top: 4rem;
}

.experience_wrapper h2,
.experience_wrapper p {
  margin-top: 1rem;
}

.experience_wrapper p {
  font-weight: 300;
}

.experience_wrapper ul li {
  line-height: 2;
  font-weight: 400;
  color: #000;
  font-size: 0.938rem;
  background: url(../public/assets/checked.png) no-repeat left -0.125rem;
  background-size: 1.0625rem;
  background-position: 0;
  padding-left: 1.875rem;
  float: left;
  width: 50%;
}

.experience_wrapper ul li i {
  font-size: 1.063rem;
}

.experience_wrapper .border-line {
  border: 0.063rem solid #e5e5e5;
  clear: both;
}

.experience_wrapper .bottom-icon i {
  font-size: 4rem;
}

@media(max-width:30.9375rem) {
  .experience_wrapper ul li {
    width: 100%;
  }
}

/* Experience_ends */

/* top_services_starts */
.top_services_wrapper .client-card {
  padding: 6rem 4rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, .07);
  position: relative;
  z-index: 1;
  margin-top: -14rem;
  margin-bottom: 4rem;
}

.top_services_wrapper .client-card h3 {
  font-size: 2.813rem;
  margin-top: 0.75rem;
}

.top_services_wrapper .client-card p {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 300;
  color: #212529;
}

.top_services_wrapper .client-card .client-img {
  position: relative;
}

.top_services_wrapper .client-card .client-img img {
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1.875rem;
}

.top_services_wrapper .client-card .client-img .its-pos-img {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  color: #f7f5f5;
  top: 0.625rem;
  left: 0;
  border-radius: 3.125rem;
  font-size: 2rem;
  text-align: center;
}

.top_services_wrapper .client-card .testimonial-details span {
  display: block;
  color: #212529;
}

.top_services_wrapper .client-card .attribute {
  font-weight: 300;
  font-size: 0.75rem;
}

.top_services_wrapper {
  background: url(/assets/tech-index.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no no-repeat;
  padding: 2rem 2rem 6rem;
  position: relative;
  margin-top: 5rem;
}


.top_services_wrapper .tech-main {
  padding-top: 6rem;
}

.top_services_wrapper .tech-main h3 {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.top_services_wrapper .tech-main p {
  margin-top: 1.5rem;
}


.top_services_wrapper .hover-effect:hover .hexagon {
  background: #EE6196;
}

.top_services_wrapper .hexagon img {
  width: 3.25rem;
}

.top_services_wrapper .hexagon {
  width: 8rem;
  height: 7rem;
  margin: 0 auto 1.5rem;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 23.5rem) {
  .top_services_wrapper .client-card {
    padding: 2rem 2rem;
  }
}

/* top_services_ends */

.brand_logos_wrapper {
  padding: 5rem 0;
}

.brand_logos_wrapper .brand-logos img {
  opacity: 0.6;
  width: 8.125rem;
  display: flex;
  margin: auto;
}

/* Footer_starts */

.footer_wrapper {
  padding: 5rem 0 1rem;
  position: relative;
  margin-top: -0.1875rem;
}


.footer_wrapper .main-para {
  padding-right: 4.375rem;
}

.footer_wrapper .main-para p {
  margin-top: 1.125rem;
}

/* .footer_wrapper .links-list {
  border-left: 0.063rem solid #3D435B;
  border-right: 0.063rem solid #3D435B;
  padding: 0 4.375rem;
} */

/* .footer_wrapper .news-letter {
  padding-left: 5.625rem;
} */

.footer_wrapper .news-letter p {
  margin-top: 1.5rem;
}

.footer_wrapper h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

/* .footer_wrapper .footer-links li {
  line-height: 1.9;
  float: left;
  width: 50%;
} */
.footer_wrapper .footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer_wrapper .footer-links li {
  margin-left: 1rem;
  font-size: 0.9375rem;

}

.footer_wrapper .footer-links li:first-of-type {
  margin-left: 0;
}

.footer_wrapper a {
  color: #CBD0E3;
  font-weight: 400;

}

.footer_wrapper .social-list a {
  height: 1.875rem;
  width: 1.875rem;
  background: #0066cc;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_wrapper .bottom-footer {
  border-top: 0.063rem solid #e5e5e5;
  margin-top: 3rem;
  padding-top: 1.5rem;
}




@media (max-width:62rem) {


  .footer_wrapper .links-list {
    border-left: none;
    border-right: none;
    padding: 0;
  }
}

/* Footer_ends */

/* Contact_form_starts */
.contact_form_wrapper {
  padding-top: 4rem;
  background: url(/assets/merge-test.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact_form_wrapper h2 {
  margin-top: 1rem;
}

.contact_form_wrapper .contact-card {
  background: url(/assets/form-bg.jpg);
  background-position: 100% 100% !important;
  border-radius: .75rem;
  padding: 0 4rem 0rem 0;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, .07);
}

.contact-card .form-control,
.contact-card textarea {
  font-size: 0.875rem;
  border-radius: 0.625rem;
  border: 0.063rem solid #e8ecef;
}

.form-control {
  padding: 1rem 1.3rem;
  background-color: #f8f9fb;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-card input:focus,
.contact-card textarea:focus {
  box-shadow: none;
  outline: none;
  border-color: rgb(0, 102, 204);
}


.contact_form_wrapper .contact-card img {
  border-radius: 0.625rem 0 0 0.625rem;
  width: 100%;
}

.contact_form_wrapper .contact-card .send-message {
  border-radius: 0.75rem;
  padding: 1.125rem 2rem;
  border: 0;
}

@media (max-width:62rem) {
  .contact_form_wrapper .contact-card {
    padding: 1rem 1rem 1rem;
  }

  .contact_form_wrapper.contact-card img {
    border-radius: 0.625rem;
  }
}

/* Contact_form_ends */
/* Services_start */
.services_wrapper {
  padding-top: 4rem;
}

.services_wrapper img {
  border-radius: 0.75rem;
  position: relative;
}

.services_wrapper .pos-content {
  position: absolute;
  bottom: 3rem;
  left: 4rem;
  z-index: 1;
}

.services_wrapper .pos-content img,
.overlay img {
  width: 3.125rem;
}

.services_wrapper .pos-content h3 {
  margin-top: 1rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  transform: translate(0.625rem, 50%);
  left: 0;
  right: 0;
  background-color: transparent;
  width: 80%;
  height: 0;
  border-radius: 0.625rem;
  overflow: hidden;
  transition: 0.5s ease;
  margin: auto;
}

.img-div:hover .overlay {
  height: auto;
  position: absolute;
  bottom: 1.875rem;
  padding: 1.25rem;
  transform: translateY(0);
}

.img-div:hover .overlay p {
  margin-bottom: 0rem;
}

.img-div:hover .pos-content {
  display: none;
}

/* Services_end */

.slick-prev {
  left: 1.3125rem !important;
  z-index: 999;

}

.slick-next {
  right: 1.3125rem !important;

}

.slick-prev:before,
.slick-next:before {
  font-family: Font Awesome\ 6 Free !important;
  color: black !important;
}

.slick-prev:before,
.slick-next:before {
  transform: translate(79%, -50%) !important;
}

.slick-prev:before,
.slick-next:before {
  top: 50%;
  transform: translate(50%, -50%);
  position: absolute;
}

.slick-prev,
.slick-next {
  width: 3rem !important;
  height: 3rem !important;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, .07);
  background: #fff !important;
  font-weight: 600;
}

/* ---------------------------------------------
start choose us
--------------------------------------------------- */

.choose-us {
  background: url(/assets/choose-back.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 6.875rem 1.875rem 14.375rem; */
  padding: 2.5rem 0rem;
  position: relative;
  /* margin-bottom: 17rem; */
  /* margin-top: 6rem; */
}

.choose-us .choose-card {
  /* margin: 0 0 6.25rem; */
  padding: 5.3125rem 1.875rem 2.5rem;
  background-color: #ffffff15;
  border-style: solid;
  border-width: 0.0625rem;
  border-color: #ffffff50;
  border-radius: 0.625rem;
  height: 100%;


}

.top_services_wrapper,
.choose-us .choose-card,
.footer_wrapper {
  color: #b0bfdf;
}

.elementor-icon-box-icon {
  position: absolute;
  top: -3.9375rem;
  left: 0;
  right: 0;
}


.elementor-icon {
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMy4wLjYsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMDkgMTE5LjIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwOSAxMTkuMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwOSw3OS40VjM5LjhjMC03LjItMy44LTEzLjgtMTAtMTcuM0w2NC41LDIuN2MtNi4yLTMuNi0xMy45LTMuNi0yMC4xLDBMMTAsMjIuNUMzLjgsMjYuMSwwLDMyLjcsMCwzOS44djM5LjYNCgljMCw3LjIsMy44LDEzLjgsMTAsMTcuM2wzNC40LDE5LjhjNi4yLDMuNiwxMy45LDMuNiwyMC4xLDBsMzQuNC0xOS44QzEwNS4yLDkzLjIsMTA5LDg2LjYsMTA5LDc5LjR6Ii8+DQo8L3N2Zz4NCg==);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  transition: all .3s ease;
  display: inline-block;
  line-height: 1;
  text-align: center;

}

.elementor-icon img {
  height: 7.5rem;
  display: block;
  padding: 2.0625rem;
}

.choose-us h3 {
  margin-bottom: 0rem;
}

.choose-us .choose-card:hover,
.choose-us .choose-card:hover h3 {
  color: #212529;
}


.choose-us .back-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -13rem;
  margin: auto;


}

.choose-us .image-border {
  border-radius: 0.625rem;
  padding-top: 5.625rem;
}

.read-btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  z-index: 999;
}

.mt-50 {
  padding-top: 8rem;
}

.mb-50 {
  padding-bottom: 4rem;
}

.video-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.chhose-btn .read-btn {
  font-weight: 600;
  font-size: 0.875rem;
}

.btn-close {
  background-image: url(/assets/close.png) !important;
  opacity: 1;
}

.modal.show .modal-dialog {
  margin: auto;
}

.modal-body {
  padding: 0rem;
  text-align: end;
}

.modal-content {
  background-color: transparent !important;
}

.btn-close:focus {
  box-shadow: none;
}

.chhose-btn {
  height: 12rem;
  transform: skew(18deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

@media(max-width:61.9375rem) {
  .mb-50 {
    padding-bottom: 6rem;
  }

  .about_wrapper {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

}

@media(max-width:48rem) {
  .chhose-btn {
    margin: auto;
  }

  .choose-us .back-img {
    bottom: -16rem;
  }

  .choose-us {
    padding: 1.875rem 0rem 0rem;
    /* margin-bottom: 19rem; */
  }

  .mt-50 {
    padding-top: 5rem;
  }

  .explore-wrapper {
    padding-top: 0rem;
  }

  .top_services_wrapper .tech-main {
    padding-top: 3rem;
  }
}

@media(max-width:29.6875rem) {
  .chhose-btn {
    width: 84%;
  }

  .top_services_wrapper {
    padding: 2rem 1rem 6rem;
  }

  .mt-90 {
    margin-top: 3.125rem;
  }

  .pt-80 {
    padding-top: 3.125rem;
  }
}

/* ---------------------------------------------
 End choose us
--------------------------------------------------- */
/* ---------------------------------------------
start explore
--------------------------------------------------- */
.explore-wrapper h2 {
  margin: 0.8rem 0rem 1.4rem 0rem;
}

.explore-wrapper .card {
  border-radius: 0.625rem;
  overflow: hidden;
  border: none;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, .07);
}

.card img {
  transition: opacity 1s, transform 1s;
  height: 13.625rem;
  object-fit: cover;
}

.card img:hover {
  transform: scale3d(1.1, 1.1, 1);
  opacity: .85;
}

.explore-wrapper .card h3 {
  margin-top: 0.8rem;
}

.card-body {
  padding: 2rem 0rem;
}

/* .explore-wrapper .card a span, */
.card-body-links p {
  color: #212529;
  font-size: 0.75rem;
  opacity: 0.4;
  margin-bottom: 0;
}

.explore-wrapper a:last-of-type {
  opacity: 1;
}

/* ---------------------------------------------
end explore
--------------------------------------------------- */
/* price section   */
.pricing p,
.pricing .outer-card-div,
.pricing h2 {
  text-align: center;
}

.pricing .main-price-heading h1 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 600;
}

.pricing .main-price-heading h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.pricing .nexora-price-card h2 {
  font-size: 3.125rem;
  font-weight: 700;
}


.pricing .nexora-price-card {
  padding: 4.375rem 1.5rem 6.4375rem;
  box-shadow: 0.0625rem 0 0.825rem rgba(0 0 0 /0.3);
  transition: all .8s;
  border-radius: 0.375rem;
  position: relative;
}

.pricing .outer-card-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.pricing .box-div {
  display: inline-block;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  padding: 0.25rem 1.25rem;
  font-weight: 700;
}

.pricing .top-border {
  border-top: 0.033rem solid #efefef;
}

.pricing p {
  margin-top: 0.4rem;
}

.pricing .card-list li {
  padding: 0.25rem 0rem;
  font-size: 0.9rem;
}


.pricing span {
  color: #8b8888;
}

.pricing .fa-xmark {
  color: red;
}

.pricing .nexora-price-card:hover .box-div,
.pricing .nexora-price-card:hover .btn-vision {
  background: #fff;
  color: #0066cc !important;
}

.pricing .btn-position {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  right: 0;
  text-align: center;
}

.pricing .nexora-plan-list {
  margin-bottom: 6.5rem;
}

.pricing .tick {
  background: url(../public/assets/check.png) no-repeat left -0.125rem;
  background-size: 1.0625rem;
  background-position: 0;
  padding-left: 1.375rem !important;
  line-height: 2;
}

.pricing .cross {
  background: url(../public/assets/close-icon.png) no-repeat left -0.125rem;
  background-size: 0.625rem;
  background-position: 0;
  padding-left: 1.375rem !important;
  line-height: 2;
}

.pricing li {
  padding-left: 1rem;
}

@media(max-width:37.5rem) {
  h1 {
    font-size: 2rem;
  }

  h2,
  .top_services_wrapper .client-card h3 {
    font-size: 1.375rem;
  }
}

/* @media (min-width: 75rem){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 78rem;
  }} */
/* -------------------------------------
  Payment Banner
  ----------------------------------------------- */
.payment-banner {
  background: #ebf5f3;
  padding: 5rem 0rem;
}

.payment-banner h1 {
  margin-bottom: 1rem;
}

.contact-card input,
.contact-card textarea {
  border: 0.163rem solid #e8ecef;
}

.contact-card ul {
  margin-top: 1rem;
}

.contact-card li {
  line-height: 2;
  font-weight: 400;
  font-size: .938rem;
  background: url(../public/assets/icon-check.svg) no-repeat left -0.125rem;
  background-size: 1.375rem;
  background-position: 0;
  padding-left: 1.875rem;

}

.contact_form {
  padding-bottom: 3rem;
}

.contact_form h3 {
  margin-top: 1rem;
}

.contact_form label {
  margin-bottom: 0.6rem;
}

.contact_form .btn-vision {
  font-size: 1.2rem;
}

.contact_form ul {
  list-style: none;
  padding: 0;
}


.contact_form .payment-form-password {
  position: relative;
}

.contact_form .payment-form-password-icon {
  position: absolute;
  top: 1rem;
  color: rgb(25, 139, 168);
  right: 1.4375rem;
}

/*======================== 
lawyer-theme1-thankyou-start 
==========================*/
.thanks_wrapper .card-outer-area {
  padding: 4.5rem 5rem;
}

.thanks_wrapper .card-inner {
  padding: 6rem 7rem 8rem;
}

.thanks_wrapper .lawyer-thankyou {
  background-color: #fff;

}

.thanks_wrapper h1,
.thanks_wrapper h3 {
  margin-bottom: 1.3rem;
}

.thanks_wrapper h1 {
  font-size: 3.25rem;
  font-weight: 700;
}

.thanks_wrapper h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.thanks_wrapper .lawyer-thankyou-heading p {
  line-height: 1.8;
}

.thanks_wrapper .lawyer-socials a {
  font-size: 1.2rem;
}

.thanks_wrapper .lawyer-socials li:not(:last-of-type) {
  margin-right: 1rem;
}

.thanks_wrapper .lawyer-socials {
  bottom: 13.5rem;
  position: static !important;
}

.thanks_wrapper .copyright-icon {
  bottom: 11rem;
}

.position-div {
  position: absolute;
  bottom: 6rem;
  text-align: center;
  width: 100%;
}

.thanks_wrapper .lawyer-home-btn a {
  display: inline-block;
  padding: 0.875rem 1.75rem;
  font-weight: 600;
  margin: 3rem 0rem 5rem;
  border-radius: 0.3125rem;
}

.thanks_wrapper .lawyer-thankyou-copyright p,
.thanks_wrapper .copyright-icon i {
  font-size: 0.875rem;
  margin-bottom: 0;
}

/*======================== 
lawyer-theme1-thankyou-end 
==========================*/

/* Media Queries */
@media(max-width:64rem) {
  .thanks_wrapper .lawyer-thankyou {
    min-height: 100vh;
  }
}

@media (max-width: 33.75rem) {
  .thanks_wrapper .card-inner {
    padding: 15rem 1rem;
  }

  .thanks_wrapper .card-outer-area {
    padding: 1rem;
  }
}


.border-line-div {
  background: #007860;
  height: 2px !important;
  margin: 10px 0;
}

.select-plan-price h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: #292929;
}

.select-plan-price h5 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
  color: #292929;

}