@import "tailwindcss";

@source "../pages";
@source "../Components";
@source "../Web_pages";
@source "../Web_sections";
@source "../Web-Layout";
@source "../New-Web-Layout";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
}

#__next {
  min-height: 100vh;
}