     
    :root {
      --wb-website-theme-primary-color:#FFFFFF!important;
      --wb-website-theme-secondary-color:#1b8e3d!important;
      --wb-website-hover-background-color:#ff7a3a!important;

      --wb-website-text-heading_color:#141e27!important;
      --wb-website-text-primary-color:#687175!important;
      --wb-website-text-secondary-color:#FFFFFF!important;
      --wb-website-hover-text-color:#FFFFFF!important;
      --wb-theme-box-shadow:rgba(0,0,0,0.25)!important;

      --wb-input-placeholder-color:#141e27!important;
      --wb-input-text-color:#141e27!important;
      --wb-input-background-color:#eeedde!important;
      --wb-input-border-color:#203239!important;

      --wb-menu-color:#141e27!important;
      --wb-menu-hover-color:#ff7a3a!important;
      
      --wb-website-text-font-family:'Moderustic', sans-serif!important;
      --wb-theme-h1-font-size:2.500rem!important;
      --wb-theme-h2-font-size:2.000rem!important;
      --wb-theme-h3-font-size:1.750rem!important;
      --wb-theme-h4-font-size:1.500rem!important;
      --wb-theme-p-font-size:1.000rem!important;
      --wb-theme-h1-font-weight:500!important;
      --wb-theme-h2-font-weight:500!important;
      --wb-theme-h3-font-weight:500!important;
      --wb-theme-h4-font-weight:500!important;
      --wb-theme-p-font-weight:400!important;
      --wb-theme-h1-font-family:'Sanchez',serif!important;
      --wb-theme-h2-font-family:'Sanchez',serif;
      --wb-theme-h3-font-family:'Sanchez',serif;
      --wb-theme-h4-font-family:'Sanchez',serif;
      --wb-theme-line-height:1.5!important;
      --wb-theme-root-html-font-mobile:10px

    }
    body{
      font-family: var(--wb-website-text-font-family)!important;
    }

/*----[[67ab1283b9616f8ef8b9e29a]]---*/
h1, h2,h3,h4{
  font-family: var(--wb-theme-h1-font-family)!important;
  font-weight: 600!important;
}
p{
  font-size: 1.125rem!important;
}
.banner_154 {
  background: var(--wb-website-theme-primary-color);
}
.brand-logo{
  height: 62px!important;
}
.banner_154 .banner-menu-box {
  background: var(--wb-website-theme-primary-color);
  box-shadow: 0 0.25rem 0.5rem var(--wb-theme-box-shadow);
  padding: 0.625rem 1.25rem;
  border-radius: 3.125rem;
}

.banner_154 .navbar-nav {
  font-size: 1.125rem;
  font-weight: 500;
}

.banner_154 .navbar-nav .nav-item .nav-link {
  display: inline-block;
  color: var(--wb-menu-color);
  padding: 0.625rem 1.25rem;
}

.banner_154 .navbar-nav .nav-item .nav-link:hover,
.banner_154 .navbar-nav .nav-item .nav-link.active {
  color: var(--wb-menu-hover-color);
}

.banner_154 .wb-dropdown-element:focus,
.banner_154 .wb-dropdown-element:hover {
  color: var(--wb-website-hover-text-color);
  background-color: var(--wb-website-hover-background-color);
}

.banner_154 .navbar-toggler {
  border: none;
}

.banner_154 .navbar-toggler:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

.banner_154 .navbar-toggler .navbar-toggler-icon {
  background: transparent;
  outline: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_154 .navbar-toggler .navbar-toggler-icon:focus {
  outline: 0;
  border: none;
}

.banner_154 .navbar-toggler .navbar-toggler-icon .fas {
  color: var(--wb-website-theme-secondary-color);
}

.banner_154 .saasnode-banner-main h1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  line-height: 1.2;
   color: rgb(248, 229, 89)
}

.banner_154 .saasnode-banner-main p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.4;
}

.banner_154 .saasnode-banner-btns .banner-login-btn,
 .banner-solid-btn,
.banner_154 .saasnode-banner-btns .banner-video-btn {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s linear;
  line-height: normal;
}

 .banner-solid-btn,
.banner_154 .saasnode-banner-btns .banner-video-btn {
  padding: 1.25rem 1.875rem;
  border-radius: 3.125rem;
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
}

 .banner-solid-btn:hover,
.banner_154 .saasnode-banner-btns .banner-video-btn:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}

.banner_154 .saasnode-banner-btns .banner-login-btn:hover {
  color: var(--wb-website-theme-secondary-color);
}

.banner_154 .saasnode-banner-btns .banner-video-btn i {
  animation: scaling 2s ease-in-out infinite;
  will-change: transform;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.banner_154 .banner-main-card {
  background: var(--wb-website-theme-primary-color);
  border: 0.063rem solid var(--wb-website-theme-secondary-color);
  padding: 2rem;
  border-radius: 1.875rem;
}

.banner_154 .modal-dialog {
  background: var(--wb-website-theme-secondary-color);
  padding: 3rem;
}

.banner_154 .modal-body {
  position: relative;
  padding: 0;
}

.banner_154 .btn-close {
  position: absolute;
  top: -2.5rem;
  right: -2.8rem;
  background: url(https://builder-templates-bucket.s3.amazonaws.com/67ab1283b9616f8ef8b9e29a/assets/close.png);
  background-repeat: no-repeat;
  background-size: 1.625rem;
  background-position: center;
  z-index: 9999;
  opacity: 1;
  cursor: pointer;
  border-radius: 0.438rem;
}

.banner_154 .btn-close:focus {
  box-shadow: none;
}

@media(max-width:61.99rem) {
  .banner_154 .navbar-nav .nav-item .nav-link {
    padding: 0.625rem 0;
  }
}

@media (max-width: 32.813rem) {
  .banner_154 .wb-iframe iframe {
    width: 100%;
    height: 100%;
  }
}

@media(max-width:425px){
  .MuiPaper-root{
    left: 0!important;
    right: 0!important;
    margin: auto!important;
  }
  .css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    max-width: calc(100% - 0px)!important;
  }
}

        /*----67ab1283b9616f8ef8b9e29a----*/
        .service-card {
          margin: 0px;
        }
       .service-card  li {
        display: inline-flex;
        border-radius: 100%;
        background: #f5f7ff;
        width: 50px;
        height: 50px;
        align-items: center;
        margin: 0 10px 0 0;
       } 
       .service-card li>img {
        width: 30px;
        margin: 0 auto;
    }
    .service-list{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0px;
    }

    .service-list li{
      padding: 0 10px 0 0;
      border-left: 1px solid #d4d4d4;
    }
    .service-list a{
      padding-left: 10px;
    }
    .service-list li:first-child {
      border: none;
  }
  .service-list li:first-child a{
    padding-left: 0px;
  }
/*----[[677e03dfb9616f8ef8b6ff93]]---*/
        .hero_125 {
  background: var(--wb-website-theme-primary-color);
}

.hero_125 .online-health-hero-main h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1;
}

.hero_125 .meet-specialist-btn,
.hero_125 .book-consultation-btn {
  display: inline-block;
  border: 0.094rem solid var(--wb-website-theme-secondary-color);
  padding: 1.25rem;
  border-radius: 0.625rem;
  font-size: 0.938rem;
  font-weight: 600;
  transition: 0.3s linear;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.hero_125 .meet-specialist-btn {
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
}

.hero_125 .book-consultation-btn {
  color: var(--wb-website-theme-secondary-color);
}

.hero_125 .meet-specialist-btn span,
.hero_125 .meet-specialist-btn i,
.hero_125 .book-consultation-btn span,
.hero_125 .book-consultation-btn i {
  position: relative;
  z-index: 2 !important;
}

.hero_125 .meet-specialist-btn::before,
.hero_125 .book-consultation-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--wb-website-hover-background-color);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.hero_125 .meet-specialist-btn:hover::before,
.hero_125 .book-consultation-btn:hover::before {
  left: 0;
}

.hero_125 .meet-specialist-btn:hover,
.hero_125 .book-consultation-btn:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
  border: 0.094rem solid var(--wb-website-hover-background-color);
}
        /*----677e03dfb9616f8ef8b6ff93----*/
        

/*----[[66bf8b86b711672becdea6a2]]---*/
        .hero_95 {
 background: url(https://builder-templates-bucket.s3.amazonaws.com/66bf8b86b711672becdea6a2/assets/banner-bg.png);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}

.hero_95 .owl-carousel .owl-stage-outer {
    padding: 1rem 0rem;
}

.hero_95 .owl-carousel .owl-dots .owl-dot.active span,
.hero_95 .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: var(--wb-website-theme-secondary-color);
}

.hero_95 .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero_95 .owl-carousel .owl-stage {
    display: flex;
  }
  
.hero_95 .partners-logo-card
{
    border-top: 0.063rem solid var(--wb-website-theme-secondary-color);
    border-bottom: 0.063rem solid var(--wb-website-theme-secondary-color);
}
        /*----66bf8b86b711672becdea6a2----*/
        

/*----[[67a99aeeb9616f8ef8b9d353]]---*/
        .about_276 {
  background: var(--wb-website-theme-primary-color);
}

.about_276 .saasify-about-main h1,
.about_276 .saasify-about-main h2,
.about_276 .saasify-stat-text h2,
.about_276 .why-saasify-text h3 {
  font-weight: 600;
  line-height: 1.2;
}

.about_276 .saasify-about-main h1,
.about_276 .saasify-stat-text h2 {
  font-size: 3.25rem;
}
.about_276 h1{
  font-size:3.5rem
}

.about_276 .saasify-about-main h1,
.about_276 .why-saasify-text h3 {
  margin-bottom: 0.75rem;
}

.about_276 .saasify-stat-text h2 {
  margin-bottom: 0.5rem;
}

.about_276 .why-saasify-text h3 {
  font-size: 1.5rem;
}

.about_276 .saasify-about-main h2 {
  font-size: 2.5rem!important;
}

.about_276 .saasify-about-main p,
.about_276 .saasify-stat-text p,
.about_276 .why-saasify-text p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.4;
}

.about_276 .saasify-learn-btn a {
  display: inline-block;
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
  padding: 1.25rem 1.875rem;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s linear;
  line-height: normal;
}

.about_276 .saasify-learn-btn a:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}

.about_276 .why-saasify-list li {
  display: flex;
  align-items: baseline;
}

.about_276 .why-saasify-list li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.about_276 .why-saasify-list li i {
  font-size: 1.125rem;
  color: var(--wb-website-theme-secondary-color);
}
        /*----67a99aeeb9616f8ef8b9d353----*/
        

/*----[[679c573bb9616f8ef8b915cc]]---*/
        .about_274 {
  background: var(--wb-website-theme-primary-color);
}

.about_274 .cuisina-whyus-main h3,
.about_274 .cuisina-whyus-main h1 {
  margin-bottom: 0.75rem;
}

.about_274 .cuisina-whyus-main h3,
.about_274 .call-for-booking-div h3,
.about_274 .call-for-booking-div a {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.about_274 .cuisina-whyus-main h3,
.about_274 .call-for-booking-div a:hover {
  color: var(--wb-website-theme-secondary-color);
}

.about_274 .cuisina-whyus-main h1,
.about_274 .cuisina-whyus-text h2 {
  font-weight: 600;
  line-height: 1.2;
}

.about_274 .cuisina-whyus-main h1 {
  font-size: 3rem;
}

 .cuisina-whyus-main p {
  font-size: 1rem;
}

.about_274 .cuisina-whyus-text h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.about_274 h1{
  font-size: 4.5rem;
  line-height: 1.2;
}
 h2{
  font-size: 3.5rem!important;
  line-height: 1.2!important;
}
 h3{
  font-size: 1.375rem!important;
}
.saasify-pricing-text h4{
  font-size: 2.5rem!important;
}
.pricing_50 h3{
  font-weight: 500!important;
  margin-bottom: 1rem!important;
}

 .cuisina-whyus-main p,
.about_274 .cuisina-whyus-text p {
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.4;
}
.cuisina-whyus-main p{
  color: var(--wb-website-text-primary-color);
}
.about_274 .cuisina-whyus-text p {
  font-size: 0.875rem;
}

.about_274 .call-for-booking-div {
  display: flex;
  align-items: center;
}

.about_274 .call-for-booking-div h3 {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.about_274 .call-for-booking-div a {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  transition: 0.2s linear;
}

.about_274 .cuisina-main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_274 .view-full-menu-btn a {
  display: inline-block;
  border: 0.063rem solid var(--wb-website-theme-secondary-color);
  color: var(--wb-website-theme-secondary-color);
  padding: 1.125rem 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s linear;
  line-height: normal;
}

.about_274 .view-full-menu-btn a:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
  border: 0.063rem solid var(--wb-website-hover-background-color);
}

@media(max-width:61.99rem)
{
  .about_274 .call-for-booking-div {
   justify-content: center;
  }
}
        /*----679c573bb9616f8ef8b915cc----*/
        

/*----[[67470b51f05e5f7adbddaaad]]---*/
        .about_225 {
  background: var(--wb-website-theme-primary-color);
}

.about_225 .mentor-flow-about-main h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.about_225 .mentor-flow-about-list li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.about_225 .mentor-flow-about-list .mentor-flow-about-list-text p {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0;
}

.about_225 .mentor-flow-about-list li i {
  font-size: 1.125rem;
  color: var(--wb-website-theme-secondary-color);
}

.about_225 .more-about-us-btn a {
  display: inline-block;
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
  padding: 1rem 1.75rem;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s linear;
}

.about_225 .more-about-us-btn a:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}

.about_225 .clients-rating-box {
  display: inline-block;
  background: var(--wb-website-theme-primary-color);
  border: 0.063rem solid var(--wb-website-theme-secondary-color);
  border-radius: 0.938rem;
  padding: 1.5rem;
  box-shadow: 0 1.375rem 1.625rem var(--wb-theme-box-shadow);
}

.about_225 .clients-rating-box .total-rating-text i {
  font-size: 1.5rem;
  color: var(--wb-website-theme-secondary-color);
}

.about_225 .clients-rating-box .total-rating-text h3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0;
}

.about_225 .clients-rating-box .total-rating-text p,
.about_225 .mentor-flow-about-main p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
}

.about_225 .top-heading-box {
  display: inline-block;
  background: var(--wb-website-theme-secondary-color);
  padding: 0.5rem 0.625rem;
  border-radius: 0.313rem;
}

.about_225 .top-heading-box h3 {
  margin-bottom: 0;
  color: var(--wb-website-text-secondary-color);
  font-size: 1rem;
  font-weight: 400;
}

.about_225 .border-line {
  border-top: 0.063rem solid var(--wb-input-border-color);
}
        /*----67470b51f05e5f7adbddaaad----*/
        

/*----[[6747fa2cf05e5f7adbddb2a6]]---*/
        .grid_246 {
  background: var(--wb-website-theme-primary-color);
}

.grid_246 .mentor-flow-service-main h3 {
  color: var(--wb-website-theme-secondary-color);
  margin-bottom: 0.938rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

.grid_246 .mentor-flow-service-main h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.75rem;
}

.grid_246 .mentor-flow-service-main p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.4;
}
.grid_246 .view-catalog-btn a,
.grid_246 .mentor-flow-service-card .get-in-touch a {
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
  border-radius: 3.125rem;
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s linear;
}

.grid_246 .view-catalog-btn a:hover,
.grid_246 .mentor-flow-service-card .get-in-touch a:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}

.grid_246 .mentor-flow-service-card {
  background: var(--wb-website-theme-primary-color);
  border-radius: 1.875rem;
  padding: 3.125rem 2.5rem;
  border: 0.063rem solid var(--wb-input-border-color);
  transition: box-shadow 0.2s;
}

.grid_246 .mentor-flow-service-card:hover
{
  box-shadow: 0.313rem 1.875rem 1.25rem var(--wb-theme-box-shadow);
}

.grid_246 .mentor-flow-service-text h2 {
  font-size: 1.563rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}

.grid_246 .mentor-flow-service-text p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
}

.grid_246 .mentor-flow-service-card .view-service-btn,
.grid_246 .mentor-flow-service-card .get-in-touch {
  bottom: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
}

.grid_246 .mentor-flow-service-card .view-service-btn {
  text-align: start;
}

.grid_246 .mentor-flow-service-card .get-in-touch {
  text-align: center;
}

.grid_246 .mentor-flow-service-card .view-service-btn a {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s linear;
}

.grid_246 .mentor-flow-service-card .view-service-btn a:hover {
  color: var(--wb-website-theme-secondary-color);
}

.grid_246 .text-main-box
{
  display: flex;
  justify-content: center;
  flex-flow: column;
}

@media (max-width: 47.99rem)
{
  .grid_246 .mentor-flow-service-card .view-service-btn {
    text-align: center;
  }
}
        /*----6747fa2cf05e5f7adbddb2a6----*/
        

/*----[[67470b51f05e5f7adbddaaad]]---*/
        .about_225 {
  background: var(--wb-website-theme-primary-color);
}

.about_225 .mentor-flow-about-main h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.about_225 .mentor-flow-about-list li:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.about_225 .mentor-flow-about-list .mentor-flow-about-list-text p {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0;
}

.about_225 .mentor-flow-about-list li i {
  font-size: 1.125rem;
  color: var(--wb-website-theme-secondary-color);
}

.about_225 .more-about-us-btn a {
  display: inline-block;
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
  padding: 1rem 1.75rem;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s linear;
}

.about_225 .more-about-us-btn a:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}

.about_225 .clients-rating-box {
  display: inline-block;
  background: var(--wb-website-theme-primary-color);
  border: 0.063rem solid var(--wb-website-theme-secondary-color);
  border-radius: 0.938rem;
  padding: 1.5rem;
  box-shadow: 0 1.375rem 1.625rem var(--wb-theme-box-shadow);
}

.about_225 .clients-rating-box .total-rating-text i {
  font-size: 1.5rem;
  color: var(--wb-website-theme-secondary-color);
}

.about_225 .clients-rating-box .total-rating-text h3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0;
}

.about_225 .clients-rating-box .total-rating-text p,
.about_225 .mentor-flow-about-main p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
}

.about_225 .top-heading-box {
  display: inline-block;
  background: var(--wb-website-theme-secondary-color);
  padding: 0.5rem 0.625rem;
  border-radius: 0.313rem;
}

.about_225 .top-heading-box h3 {
  margin-bottom: 0;
  color: var(--wb-website-text-secondary-color);
  font-size: 1rem;
  font-weight: 400;
}

.about_225 .border-line {
  border-top: 0.063rem solid var(--wb-input-border-color);
}
        /*----67470b51f05e5f7adbddaaad----*/
        

/*----[[67ab162db9616f8ef8b9e4e2]]---*/
        .about_278 {
  background: var(--wb-website-theme-primary-color);
}

.about_278 .saasify-tab-main h1,
.about_278 .saasify-tab-text h2 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.about_278 .saasify-tab-main h1 {
  font-size: 3.25rem;
}

.about_278 .saasify-tab-text h2 {
  font-size: 1.875rem;
}

.about_278 .saasify-tab-main p,
.about_278 .saasify-tab-text p,
.about_278 .saasify-tab-list li p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.4;
}

.about_278 .nav-tabs {
  border-bottom: none;
  margin-top: -4rem;
}


.about_278 .nav-tabs .nav-link {
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
  border-radius: 3.125rem;
  padding: 0.938rem 1.875rem;
  font-weight: 400;
  font-size: 1.125rem;
  transition: 0.3s linear;
  border: none;
  margin: 0 1.5rem 1rem;
}

.about_278 .nav-tabs .nav-link:hover,
.about_278 .nav-tabs .nav-link.active {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}

.about_278 .saasify-tab-box {
  background: var(--wb-website-theme-primary-color);
  padding: 2.5rem;
  border-radius: 1.8755rem;
  box-shadow: 0 0 1.25rem var(--wb-theme-box-shadow);
}

.about_278 .saasify-started-btn a {
  display: inline-block;
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
  padding: 1.25rem 1.875rem;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s linear;
  line-height: normal;
}

.about_278 .saasify-started-btn a:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}

.about_278 .saasify-tab-list li {
  display: flex;
  align-items: center;
}

.about_278 .saasify-tab-list li:not(:last-of-type) {
  margin-bottom: 0.75rem;
}

.about_278 .saasify-tab-list li i {
  font-size: 0.5rem;
  color: var(--wb-website-theme-secondary-color);
}

.about_278 .tab-img-col img
{
  width: 100%;
}
        /*----67ab162db9616f8ef8b9e4e2----*/
        

/*----[[67ab16a9b9616f8ef8b9e4ef]]---*/
        .slider_163 {
  background: var(--wb-website-theme-primary-color);
}

.slider_163 .saasify-testimonial-text h3,
.slider_163 .saasify-testimonial-main h1{
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.slider_163 .saasify-testimonial-main h1 {
  font-size: 3.25rem;
}

.slider_163 .saasify-testimonial-text h3 {
  font-size: 1.375rem;
}

.slider_163 .saasify-testimonial-main p,
.slider_163 .saasify-testimonial-text p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.4;
}

.slider_163 .saasify-testimonial-flex-div {
  display: flex;
  align-items: start;
}

.slider_163 .saasify-testimonial-card {
  background: var(--wb-website-theme-primary-color);
  border: 0.063rem solid var(--wb-website-theme-secondary-color);
  padding: 1.563rem;
  border-radius: 1.875rem;
}

.slider_163 .saasify-reviews-list li:not(:last-of-type)
{
  margin-bottom: 2rem;
}
        /*----67ab16a9b9616f8ef8b9e4ef----*/
        

/*----[[67ab15e0b9616f8ef8b9e4d5]]---*/
        .pricing_50 {
  background: var(--wb-website-theme-primary-color);
}

.pricing_50 .saasify-pricing-main h1 {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.pricing_50 .saasify-pricing-outer-card {
  background: var(--wb-website-theme-primary-color);
  border: 0.063rem solid var(--wb-website-theme-secondary-color);
  padding: 2rem;
  border-radius: 1.875rem;
}

.pricing_50 .saasify-pricing-card {
  background: var(--wb-website-theme-primary-color);
  border-radius: 1.25rem;
  border: 0.063rem solid var(--wb-website-theme-secondary-color);
  padding: 2.5rem;
}

.pricing_50 .saasify-pricing-text h2,
.pricing_50 .saasify-pricing-text h3,
.pricing_50 .saasify-pricing-list-text p {
  margin-bottom: 0;
}

.pricing_50 .saasify-plan-name-text h2 {
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.pricing_50 .saasify-pricing-text
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pricing_50 .saasify-pricing-text h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.pricing_50 .saasify-pricing-list .saasify-pricing-list-text p, 
.pricing_50 .saasify-pricing-text h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

.pricing_50 .saasify-pricing-list li {
  margin-bottom: 1rem;
}

.pricing_50 .saasify-pricing-list li i {
  font-size: 1rem;
  color: var(--wb-website-theme-secondary-color);
}

.pricing_50 .saasify-plan-btn {
  bottom: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  text-align: center;
}

.pricing_50 .saasify-plan-btn a {
  display: inline-block;
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
  padding: 0.875rem 1.875rem;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s linear;
  line-height: normal;
}

.pricing_50 .saasify-plan-btn a:hover{
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}

.pricing_50 .saasify-popular-badge
{
  display: inline-block;
  background: var(--wb-website-theme-secondary-color);
  border-radius: 3.125rem;
  padding: 0.625rem 1.25rem;
  top: -0.625rem;
  left: -1.125rem;
  right: auto;
  transform: rotate(-10deg);
}

.pricing_50 .saasify-popular-badge p
{
  color: var(--wb-website-text-secondary-color);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;
}
        /*----67ab15e0b9616f8ef8b9e4d5----*/
        

/*----[[679c573bb9616f8ef8b915cc]]---*/
        .about_274 {
  background: var(--wb-website-theme-primary-color);
}

.about_274 .cuisina-whyus-main h3,
.about_274 .cuisina-whyus-main h1 {
  margin-bottom: 0.75rem;
}

.about_274 .cuisina-whyus-main h3,
.about_274 .call-for-booking-div h3,
.about_274 .call-for-booking-div a {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.about_274 .cuisina-whyus-main h3,
.about_274 .call-for-booking-div a:hover {
  color: var(--wb-website-theme-secondary-color);
}

.about_274 .cuisina-whyus-main h1,
.about_274 .cuisina-whyus-text h2 {
  font-weight: 600;
  line-height: 1.2;
}

.about_274 .cuisina-whyus-main h1 {
  font-size: 3rem;
}

 .cuisina-whyus-main p {
  font-size: 1rem;
}

.about_274 .cuisina-whyus-text h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

 .cuisina-whyus-main p,
.about_274 .cuisina-whyus-text p {
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.4;
}

.about_274 .cuisina-whyus-text p {
  font-size: 0.875rem;
}

.about_274 .call-for-booking-div {
  display: flex;
  align-items: center;
}

.about_274 .call-for-booking-div h3 {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.about_274 .call-for-booking-div a {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  transition: 0.2s linear;
}

.about_274 .cuisina-main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_274 .view-full-menu-btn a {
  display: inline-block;
  border: 0.063rem solid var(--wb-website-theme-secondary-color);
  color: var(--wb-website-theme-secondary-color);
  padding: 1.125rem 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s linear;
  line-height: normal;
}

.about_274 .view-full-menu-btn a:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
  border: 0.063rem solid var(--wb-website-hover-background-color);
}

@media(max-width:61.99rem)
{
  .about_274 .call-for-booking-div {
   justify-content: center;
  }
}
        /*----679c573bb9616f8ef8b915cc----*/
        

/*----[[67a99b2fb9616f8ef8b9d360]]---*/
        .about_277 {
  background: var(--wb-website-theme-primary-color);
}

.about_277 .glorious-about-main h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.about_277 .glorious-about-main p,
.about_277 .glorious-about-list li p {
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.4;
}

.about_277 .glorious-about-main p {
  font-size: 1rem;
}

.about_277 .glorious-about-btns .solid-butn,
.about_277 .glorious-about-btns .border-butn {
  display: inline-block;
  line-height: normal;
  padding: 0.938rem 1.875rem;
  font-size: 1rem;
  font-weight: 400;
  border: 0.063rem solid var(--wb-website-theme-secondary-color);
  transition: 0.3s linear;
}

.about_277 .glorious-about-btns .solid-butn {
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
}

.about_277 .glorious-about-btns .border-butn {
  color: var(--wb-website-theme-secondary-color);
}

.about_277 .glorious-about-btns .solid-butn:hover,
.about_277 .glorious-about-btns .border-butn:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
  border: 0.063rem solid var(--wb-website-hover-background-color);
}

.about_277 .glorious-about-list {
  flex-wrap: wrap;
}

.about_277 .glorious-about-list,
.about_277 .glorious-about-list li {
  display: flex;
  align-items: center;
}

.about_277 .glorious-about-list li {
  margin-bottom: 0.5rem;
}

.about_277 .glorious-about-list li:not(:last-of-type) {
  margin-right: 2rem;
}

.about_277 .glorious-about-list li i {
  font-size: 1.125rem;
  color: var(--wb-website-theme-secondary-color);
}

.about_277 .glorious-about-list li p {
  font-size: 0.875rem;
}

@media (max-width:61.99rem) {
  .about_277 .glorious-about-list {
    justify-content: center;
  }
}
        /*----67a99b2fb9616f8ef8b9d360----*/
        

/*----[[67879e70b9616f8ef8b7e504]]---*/
.m-40{
  margin-top: 4rem!important;
}
        .footer_147 {
          background-color: rgb(238, 237, 222);
  font-size: 1.1rem ;
  font-weight: 400;
}
.footer_147 ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.footer_147 ul li{
  margin-top: 10px;
  font-size: 1.1rem ;
  font-weight: 400;
}
.footer-contact-list li{
display: flex;
}
.footer-contact-list a:hover{
  color: var(--wb-website-hover-background-color);
}
.footer-contact-list a{
  display: block;
}
.footer-contact-list p{
  margin-bottom: 0px;
 font-weight: 600;

}
.footer-contact-list i, .footer-contact-list p{
  color: #000;
}
.footer_147 .profitpod-subscribe-heading h2,
.footer_147 .profitpod-links-heading,
.footer_147 .copyright-text p {
  margin-bottom: 0;
}

.footer_147 .profitpod-subscribe-heading h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer_147 .profitpod-links-heading,
.footer_147 .copyright-text p {
  font-weight: 400;
}

.footer_147 .profitpod-links-heading,
.footer_147 .profitpod-footer-links li a,
.footer_147 .copyright-text p {
  font-size: 1rem;
}

.footer_147 .profitpod-footer-links li a {
  font-weight: 500;
}

.footer_147 .profitpod-footer-links li a {
  transition: 0.2s linear;
}

.footer_147 .profitpod-footer-links li a:hover {
  color: var(--wb-website-theme-secondary-color);
}

.footer_147 .profitpod-footer-links li:not(:last-of-type) {
  margin-bottom: 1rem;
}

.footer_147 .profitpod-footer-socials {
  display: flex;
  align-items: center;
}

.footer_147 .profitpod-footer-socials li:not(:last-of-type) {
  margin-right: 1.25rem;
}

.footer_147 .profitpod-footer-socials li a {
  font-size: 1.5rem;
  transition: 0.6s;
}

.footer_147 .profitpod-footer-socials li a:hover {
  color: var(--wb-website-theme-secondary-color);
  transform: translateY(-0.438rem);
}

.footer_147 .form-control {
  background-color: var(--wb-input-background-color);
  color: var(--wb-input-text-color);
  border: 0.063rem solid var(--wb-input-border-color);
  padding: 0.75rem 0 0.75rem 1.5rem;
  border-radius: 3.125rem;
  font-size: 1rem;
  font-weight: 400;
}

.footer_147 .form-control::placeholder {
  color: var(--wb-input-placeholder-color);
}

.footer_147 .form-control:focus {
  outline: none;
  box-shadow: none;
}

.footer_147 .submit-butn {
  border: none;
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
  padding: 0.75rem 1.5rem;
  border-radius: 3.125rem;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s linear;
}

.footer_147 .submit-butn:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}

.footer_147 .border-line {
  border-top: 0.063rem solid var(--wb-input-border-color);
}

@media (max-width: 61.99rem) {
  .footer_147 .profitpod-footer-socials {
    justify-content: center;
  }
}
        /*----67879e70b9616f8ef8b7e504----*/
        

/* ------------------portfolio page -------------------------- */
.tab-heading p{
margin-bottom: 10px;
color: var(--wb-website-theme-secondary-color);
}
.portfolio_wrapper .item-image{
  position: relative;
  display: block;
}
.portfolio_wrapper .item-image img{
  border-radius: 8px;

}

.item-image img {
  transition: transform 0.5s ease;
}

.item-image:hover img {
  transform: scale(1.1);
}

.portfolio_wrapper .item-info{
  padding-top: 20px;
}
.portfolio_wrapper .item-info p{
  margin-bottom: 0px;
}
.portfolio_wrapper .item-info  h4{
  margin-bottom: 0.4rem;
}

/* --------------------career page ----------------------------- */
/*--------------------------------------------------------------
# Contact_1
--------------------------------------------------------------*/

.contact_1 {
  background: var(--wb-website-theme-primary-color);
  position: relative;
}

.contact_1 .form-main-wrapper h2 {
  font-size: 2.625rem!important;
  font-weight: bold;
}
.form-main-wrapper p{
  margin-top: 15px;
}
.contact_1 .info-card {
  background: var(--wb-website-theme-primary-color);
  /* background-color: rgb(238, 237, 222, 0.2); */
  background-color: rgb(224, 221, 170);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.6);
  padding: 1.875rem;
  align-self: center;
  align-items: center;
  
}

.contact_1 .info-card i {
  color: var(--wb-website-theme-secondary-color);

}

.contact_1 .info-card a {
  color: var(--wb-website-text-primary-color);
  font-weight: 500;
  font-size: 20px;
}
.contact_1 h6{
  color: var(--wb-website-theme-secondary-color);
}
.contact_1 .info-card span {
  font-size: 20px;
  font-size: bold;
}

.contact_1 .info-card p {
  margin: 1.25rem 0 0.625rem 0;
}

.contact_1 .form-group {
  padding-bottom: 0.5rem;
}

.contact_1 .form-control {
  height: 3.125rem;
  padding: 0.638rem 0.938rem;
  outline: none;
  /* background: var(--wb-input-background-color); */
  border: 0;
  color: var(--wb-input-text-color);
  border-bottom: 0.125rem solid var(--wb-input-border-color);
  border-radius: 0.25rem;
}

.contact_1 ::placeholder {
  font-size: 0.875rem;
  color: var(--wb-input-placeholder-color);
}

.contact_1 .form-control:focus {
  box-shadow: none;
  border: 0 !important;
  border-bottom: 0.125rem solid var(--wb-website-theme-secondary-color) !important;
}

.contact_1 .btn-header-button {
  background: var(--wb-website-theme-secondary-color);
  color: var(--wb-website-text-secondary-color);
  border-radius: 6.25rem;
  padding: 0.938rem 2rem 0;
  overflow: hidden;
  position: relative;
}

.contact_1 .btn-header-button:hover {
  background: var(--wb-website-hover-background-color);
  color: var(--wb-website-hover-text-color);
}


.contact_1 span.circle {
  background: rgba(255, 255, 255, 0.2);
  display: block;
  position: absolute;
  top: -10%;
  right: -8.125rem;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
}

.contact_1 span.circle:hover {
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);
}

.contact_1 .btn-header-button:hover span.circle {
  top: -10%;
  right: -5rem;
  transition: 1.2s cubic-bezier(.17, .85, .438, .99);
}
.form-btn{
  border: 1px solid rgba(0, 0, 0, 0.23);
}
.upload-files{
  outline: 2px dashed  rgba(0, 0, 0, 0.42);
  padding: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}
@media(max-width:768px){
  .banner_154 .saasnode-banner-main h1 , .about_276 h1, .about_274 h1{
    font-size: 2rem!important;}
    h2{
      font-size: 1.9rem!important;
    }
    h3{
      font-size: 1.375rem!important;
    }
    .m-40{
      margin-top: 2rem!important;
    }
}

/*--------------------------------------------------------------
# End Contact_1
--------------------------------------------------------------*/
/* ---------------- portfolio detail page------------------------ */
.breadcrumbs{
  background-color: rgb(32, 50, 57);
  color: #fff;
  padding: 50px 0;
}
.breadcrumbs p{
  margin-bottom: 0px;
}
.breadcrumbs h2{
  color: rgb(248, 229, 89);
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  font-weight: 600;
  padding: 0px;
  font-size: 1.125rem 
}
.breadcrumbs ol li{
  color: #fff;
}
 .breadcrumbs ol a:hover{
  color: var(--wb-menu-hover-color);
}
.breadcrumbs ol li+li{
  padding-left: 10px;
  color: var(--wb-menu-hover-color);

}
.breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: var(--wb-menu-hover-color);
}
.portfolio_slider .carousel-inner img{
width: 100%;
/* height: 500px;
object-fit: cover; */
}
.carousel-indicators [data-bs-target]{
  background-color: var(--wb-website-theme-secondary-color)!important;
  width: 9px!important;
  height: 9px!important;
  border-radius: 50%!important;
}
.carousel-indicators {
  bottom: -49px!important;}
  .carousel-control-next-icon, .carousel-control-prev-icon {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 24px;
    border-radius: 50%;
    width: 48px!important;
    height: 48px!important;
  }
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-size: 30px!important;
}
 .testimonial-item {
  padding: 30px 30px 0 30px;
  position: relative;
  background-color: rgb(238, 237, 222);
  margin-bottom: 50px;
}
.testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid var(--background-color);
  float: left;
  margin: 0 10px 0 0;
}
.testimonial-item h4{
  font-size: 18px;
  margin-bottom: 0px;
}
.testimonial-item i{
  font-size: 26px;
  color: var(--wb-website-theme-secondary-color);
}
.portfolio-info h3 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.portfolio-info h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--wb-menu-hover-color);
  left: 0;
  bottom: 0;
}
.portfolio-info ul {
  list-style: none;
  padding: 0;
}
.portfolio-info ul li {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.portfolio-info span{
  font-weight: 500;
}
.portfolio_slider .slick-slide img {
  width: 100%;
  margin-bottom: 10px;
}
.slick-dots li.slick-active button:before{
  color: var(--wb-menu-hover-color)!important;
}

/* Change dot color */
.slick-dots li button:before {
  color: #000; /* black */
  font-size: 12px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ff5722; /* active dot color */
}

/* Custom arrow styles */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  padding: 6px 12px;
  border-radius: 50%;
}

.custom-arrow.prev {
  left: -30px;
}

.custom-arrow.next {
  right: -30px;
}
