:root {
  --wb-website-theme-primary-color:#FFFFFF!important;
  --wb-website-theme-secondary-color:#1b8e3d!important;
  --wb-website-hover-background-color:#ff7a3a!important;

  --wb-website-text-heading_color:#141e27!important;
  --wb-website-text-primary-color:#687175!important;
  --wb-website-text-secondary-color:#FFFFFF!important;
  --wb-website-hover-text-color:#FFFFFF!important;
  --wb-theme-box-shadow:rgba(0,0,0,0.25)!important;

  --wb-input-placeholder-color:#141e27!important;
  --wb-input-text-color:#141e27!important;
  --wb-input-background-color:#eeedde!important;
  --wb-input-border-color:#203239!important;

  --wb-menu-color:#141e27!important;
  --wb-menu-hover-color:#ff7a3a!important;
  
  --wb-website-text-font-family:'Moderustic', sans-serif!important;
  --wb-theme-h1-font-size:2.500rem!important;
  --wb-theme-h2-font-size:2.000rem!important;
  --wb-theme-h3-font-size:1.750rem!important;
  --wb-theme-h4-font-size:1.500rem!important;
  --wb-theme-p-font-size:1.000rem!important;
  --wb-theme-h1-font-weight:500!important;
  --wb-theme-h2-font-weight:500!important;
  --wb-theme-h3-font-weight:500!important;
  --wb-theme-h4-font-weight:500!important;
  --wb-theme-p-font-weight:500!important;
  --wb-theme-h1-font-family:'Sanchez',serif;
  --wb-theme-h2-font-family:'Sanchez',serif;
  --wb-theme-h3-font-family:'Sanchez',serif;
  --wb-theme-h4-font-family:'Sanchez',serif;
  --wb-theme-p-font-weight:500!important;
  --wb-theme-line-height:1.5!important;
  --wb-theme-root-html-font-mobile:10px

}